@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* ------ */

body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gift-box {
  height: 400px;
}
.heart {
  height: 80px;
  position: absolute;
  top: 25%;
  visibility: hidden;
}
body {
  cursor: url("./images/pinkcursor.png"), auto;
  background-color: #c4c7ff;
}
.page {
  position: absolute;
  background-color: #ff7dcb;
  width: 0;
  transition: ease 3s;

  display: flex;
  flex-direction: column;
}
.page.active {
  height: 100%;
  width: 100%;
  opacity: 100;
}
.page > div {
  display: flex;
  height: 100%;
}
.page * {
  opacity: 0;
  transition: ease-in 5s opacity;
}
.page.active * {
  opacity: 100;
}
.page h1 {
  transition: none;
  visibility: hidden;
  font-size: 70px;
  font-family: "Cherry Bomb One", system-ui;
  color: white;
  transition: visibility ease-in 3s;
}
h1.active {
  visibility: visible;
}
.row2 {
  flex: 150%;
}
.row1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.row2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.row1 > img {
  height: 170px;
}
.gift-box2 {
  height: 550px;
  /* opacity: 0; */
}
.img3,
.img4 {
  height: 200px;
}
.row3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.row3 > img {
  height: 200px;
}
.img4,
.img5 {
  transform: scaleX(-1);
}
@keyframes float {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes float2 {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes float3 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.img1,
.img2 {
  animation: float 6s ease-in-out infinite;
}

.img3,
.img4 {
  animation: float2 6s ease-in-out infinite;
}

.img5,
.img6,
.img7 {
  animation: float3 6s ease-in-out infinite;
}
